* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkkhaki;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 15px;
    background-color: #f4f4f4;
}

nav a {
    text-decoration: none;
    color: #333;
    font-family: sans-serif;
    font-weight: bold;
}

nav a:hover {
    color: #0066cc;
}